<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Cambio de divisas</title>
</head>
<body>
	<h1>Datos para la conversion de divisas</h1>
	<form action="/divisa" method="post">
		<label for="listaMonedaOrigen">Moneda Origen</label> </br> 
		<select
			name="origen" id="listaMonedaOrigen">
			 
			<option th:each="moneda : ${monedas}"
					th:value="${moneda.codigoISO}"
					th:text="${moneda.descripcion } +' ['+${moneda.pais}+']' "
					>
			 
			<!-- 
			<option value="PEN">Soles</option>
			<option value="USD">Dolar</option>
			<option value="EUR">Euro</option>
			<option value="MXN">Peso Mexicano</option>
			-->

		</select> </br> 
		<label for="listaMonedaDestino">Moneda Origen</label> </br> 
		<select
			name="destino" id="listaMonedaDestino">
			<option th:each="moneda : ${monedas}"
					th:value="${moneda.codigoISO}"
					th:text="${moneda.descripcion } +' ['+${moneda.pais}+']' "
					>
			<!--
			<option value="PEN">Soles</option>
			<option value="USD">Dolar</option>
			<option value="EUR">Euro</option>
			<option value="MXN">Peso Mexicano</option>
			-->

		</select> </br> <label for="monto">Moneda Origen</label> </br> <input id="monto"
			name="monto" type="decimal" step="any" /> <input name="procesar"
			type="submit" value="procesar">
	</form>
	
</body>
</html>